In [1]:
import yfinance as yf

In [81]:
# Get the data for Apple in 1 minute interval

data = yf.download(tickers=['NESTE.HE'], interval="1m", period="max")

[*********************100%***********************]  1 of 1 completed

In [82]:
df = data

In [86]:
data

Price                        Close     High      Low     Open   Volume
Ticker                    NESTE.HE NESTE.HE NESTE.HE NESTE.HE NESTE.HE
Datetime
2025-03-28 16:29:00+00:00    8.754    8.754    8.754    8.754        0
2025-03-31 07:00:00+00:00    8.638    8.638    8.628    8.628        0
2025-03-31 07:01:00+00:00    8.652    8.652    8.652    8.652      140
2025-03-31 07:02:00+00:00    8.556    8.630    8.556    8.630    10297
2025-03-31 07:03:00+00:00    8.544    8.562    8.544    8.556     4229
...                            ...      ...      ...      ...      ...
2025-04-04 15:21:00+00:00    7.758    7.758    7.744    7.750     7184
2025-04-04 15:22:00+00:00    7.742    7.756    7.740    7.756    17383
2025-04-04 15:23:00+00:00    7.754    7.754    7.740    7.744     6928
2025-04-04 15:24:00+00:00    7.756    7.756    7.748    7.748    12660
2025-04-04 15:29:00+00:00    7.734    7.734    7.734    7.734  1203303

[2307 rows x 5 columns]